@media only screen and (min-width: 1028px) {
    header, nav, main, footer {
        max-width: 1200px;
        margin:auto;
    }
    
    
    
    nav ul {padding-left: 2%;}
    nav li {width:auto;}
    nav a {padding: .5rem 1rem;}
    
    main #temple-img{ width: 51%;}
    main #joburg-img{ width: 35%;}
    
    div.news {column-count: 3;}

    main form .relative {
        margin-left: 70%;
      }
      .temples{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
      }
      .temple-images{
        width: 300px;
      }
      main .cards {
        display: grid;
        grid-gap: 20px;
        grid-template-columns:1fr 1fr 1fr;     
        
      }
} /* end of media query */