@media only screen and (min-width: 560px) {
    nav li {width: 20%; float: left;}
    
    main #temple-img{
        float: right; 
        width: 48%; 
        margin-left: 2%;
        padding-bottom: .5rem;
    }

    main #joburg-img{
        float: right; 
        width: 48%; 
        margin-right: 5%;
        padding-bottom: .5rem;
    }
    
    div.news {
        clear: both;
        column-count: 2;
        column-rule: 1px solid #ddd;
    }
    
} /* end of media query */