/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* body rules */
body {
    font-family: Verdana;
    font-size: 16px;
}

header .header-item{
    display: block;
}
header div.grid-container {
    font-family: 'Encode Sans SC', sans-serif;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: left;
    gap: 1em;
    margin: 0 auto;
    padding: 0 20px;
}
header {
    background-color: #17a8e4;
    padding: 1rem 2%;
}
header h1 {
	margin: 0; 
	font-size: 1.5rem;
}
header h2{
	margin: 0; 
	font-size: 1.2rem; 
	font-weight: normal;
}

nav {background-color: #111;}
nav ul{margin:0; padding: 0;}
nav li {list-style-type: none;}
nav li.active {background-color: #333}
nav a {
    display: block;
    padding: .8rem 0; /*44px min*/
    color: #eee;
    text-align: center;
    text-decoration: none;
}
nav a:hover {background-color: #444;}

main{display: block; padding: 1rem 2%;}
main h1 {color: #17a8e4;}

main picture img {width: 100%;}
main picture{
    margin: 0;
    width: 100%;
    text-align: left;
    
}
main caption {text-align: left; font-size: .8rem;}


/* reservation page css */
main #res-form h1{
    display: grid;
    align-text: right;
}
.reservation-header{
    font-size: large;
    justify-content: center;
    align-text: right;
}
form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    box-shadow: 10px 15px 17px rgb(233, 231, 231);
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    border: 2px solid rgb(196, 190, 190);
    padding: 1em;
    border-radius: 20px;
    background-color: white;
    border: 2px solid #24ACF0;
  }
  
 form button {
    display: inline-block;
    background-color: white;
    text-decoration: none;
    border-color: transparent;
    border-radius: 5px;
  }
 form #submit {
    background-color: rgb(45, 45, 243);
    color: white;
  }
 form .relative {
    margin-left: 45%;
  }
 form #submit:hover {
    color: rgb(236, 175, 175);
    background-color: rgb(87, 87, 238);
  }
  
 form #cancel:hover {
    color: white;
    background-color: blue;
  }
  
 form #optional {
    display: inline;
    color: rgb(187, 183, 183);
  }
 form label {
    display: inline-block;
  }
 form input {
    margin: 2%;
    border-color: rgb(196, 190, 190);
    border-radius: 5px;
  }



footer {
    background-color: #17a8e4;
    text-align: center;
    padding: 1rem 2%;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}