@media only screen and (min-width: 63.5em) {

    body{
        margin: 0;
    }
    #navigation {
        width: 800px;
        margin: 16px auto;
    }
    header img{
        width: 100%;
        height:auto;
    }
    
    header h1{
        font-size: 35px;
        margin: 25px 0 5px 0;
        justify-items: center;
    }
    header p{
        font-size: 20px;
        margin: 5px 0;
        font-style: italic;
    }
    .ham{
        display: none;
    }
    /* main */
    .gallery-container{
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: center;
        grid-gap: 20px;
    }
    .card-summary{
        display: block;
        padding: 8px 10px;
        font-style: oblique;
    }





    
    /* footer */
    
    #contactsec {
        background-color: lightcoral;
        color: white;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
        margin-top: 20px;
    }
    #locationimage-large{
        display: block;
        margin: 0px 50px 0px auto;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 15px;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #locationimage-small{
        display: none;
    }
    div{
        display: block;
    }
    #contactinfo{
        padding: 10px 0px 20px 70px;
    }
    .social-media{
        display: grid;
        grid-column: 2/3;
        grid-row: 1/2;
        display: inline;
        width: 40px;
        padding: 15px 10px;
        
    } 
    #email{
        display: block;
    }
    
    #contactinfo a{
        padding: 10px 0px;
    }
    

}