body {
    display: block;
    max-width: 700px;
        margin: auto auto;
        background-color: lightcoral;
}
main{
    max-width: 800px;
    margin: auto auto;
    background-color: seashell;
    text-align: center;
}
p{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
}

nav{
    margin: 0 auto;
    max-width: 360px;
    background-color: peachpuff;
    font-family: Roboto, sans-serif;
}

#navigation {
    list-style: none;
    padding: 0;
    grid-template-columns: auto;
    display: grid;
}
/* turn on the first li */
#navigation li:first-child {
    display: block;
}
/* ignore all other li */
#navigation li{
    display: none;
}
#navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
#navigation a:hover, #navigation a.active:hover {
    color: white;
    background-color: black;
}
#navigation a.active{
    background-color: rgba(0,0,0,.55);
    color: white;

}
#navigation.responsive li{
    display: block;
}
img{
    max-width: 500px;
}
h1{
    font-family: Roboto, sans-serif;
    font-size: 40px;
    font-weight: bold;
}
h2{
    font-family: lato, sans-serif;
    font-size: 35px;
}
#scenarios {
    text-align: left;
}
footer{
    margin: 0 auto;
    max-width: 700px;
    background-color: peachpuff;
    font-family: Roboto, sans-serif;
    text-align: center;
}
