@media only screen and (min-width: 34.5em) {
  nav {
    max-width: 100%;
  }
  #navigation {
    grid-template-columns: repeat(7, auto);
  }
  #navigation li {
    display: block; /*change state in small view*/
  }
  #navigation a {
    text-align: center;
    font-size: 19px;
  }
  #navigation li:first-child {
    /* display:none; */
  }
  #navigation a:hover,
  #navigation a.active:hover {
    color: white;
    background-color: black;
  }
  #navigation a.active {
    background-color: rgba(0, 0, 0, 0.55);
    color: white;
  }
  #navigation.responsive li {
    display: block;
  }
  #header-content {
    list-style: none;
    display: flex;
    padding: 0;
    grid-template-columns: repeat(2, auto);
    background-color: lightcoral;
    /* text-align: center; */
  }

  header h1 {
    font-size: 35px;
    margin: 25px 0 5px 0;
    justify-items: center;
  }
  header p {
    font-size: 20px;
    margin: 5px 0;
    font-style: italic;
  }
  .ham {
    display: none;
  }

  main {
    max-width: 800px;

    display: grid;
  }
  .content-box {
    display: block;
    margin: 10px auto;
    border: 1px dashed #000;
    padding: 15px;
    background-color: white;
    color: black;
  }
  #forecast {
    text-align: center;
    list-style: none;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
  }
  .content-box.weather {
    height: 200px;
    width: 200px;
    position: absolute;
    padding: 10px;
    margin-top: 90px;
    margin-left: 20px;
    background-color: peachpuff;
    border: 5px solid white;
    line-height: 10px;
  }

  .content-box.weather h3 {
    text-align: center;
  }

  #article-img {
    float: right;
    margin-left: 5px;
    margin-bottom: 5px;
  }
  .content-box.forecast {
    width: 800px;
    padding: 0;
  }

  .images-lined {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    text-align: center;
  }
  .image-lined li p,
  h6 {
    margin: 12px 0;
  }
  .images-lined img {
    height: 90px;
    overflow: scroll;
  }

  .contactsec {
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr;
    background-color: lightcoral;
    /* text-align: center; */
  }
  .locationimage {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
    height: auto;
  }
  #phone,
  #email,
  #location-icon {
    display: flex;
    align-items: center;
  }
  footer p {
    justify-items: center;
    /* background-color:seashell ; */
    grid-column: 1/3;
  }
  #contact {
    display: block;
  }
  #social-media {
    display: inline-block;
  }
}
