body {
    background-color: seashell;
    justify-content: space-around;
}
nav{
    margin: 0 auto;
    max-width: 360px;
    background-color: peachpuff;
    font-family: Roboto, sans-serif;
}

#navigation {
    list-style: none;
    padding: 0;
    grid-template-columns: auto;
    display: grid;
}
/* turn on the first li */
#navigation li:first-child {
    display: block;
}
/* ignore all other li */
#navigation li{
    display: none;
}
#navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
#navigation a:hover, #navigation a.active:hover {
    color: white;
    background-color: black;
}
#navigation a.active{
    background-color: rgba(0,0,0,.55);
    color: white;

}
#navigation.responsive li{
    display: block;
}

#header-content {
    list-style: none;
    display: flex;
    padding: 0;
    /* grid-template-columns: repeat(3,auto); */
    background-color: lightcoral;
    /* text-align: center; */
}
 
header h1{
    font-size: 15px;
    margin: 25px 0 5px 0;
    justify-items: center;
}
.ham {
    margin: 35px 0 ;
    place-items: space;
    padding: 0 0 0 50px;
    height: 30px;
    width: 80px;
}
header p{
    font-size: 10px;
    margin: 5px 0;
    font-style: italic;
}
/* header img{
    width: 100px;
    height:200px;
} */

main{
    margin: block;
    max-width: 100%;
    margin: auto auto;
    background-color: seashell;
    text-align: left;
}
main img{
    height: 100px;
}
img{
    max-width: 100%;
    height: auto;
}
#lis1, #lis2, #lis3{
    display: flex;
    column-gap: 20px;
}
#paragraph{
    display: none;
}

footer div{
    display: grid;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 5px 0;
    background-color: lightcoral;
    text-align: center;
}
footer h3{
    margin: 5px 0;
}
footer p{
    margin: 5px 0;
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: seashell;
}
#contact{
    display: block;
}
#social-media,#location-icon{
    display: none;
}
#copyright{
    display: auto;
    text-align: center;
}