@media only screen and (min-width: 34.5em) {
    body {
        background-color: seashell;
        max-width: 80%;
    }
    nav{max-width: 100%;}
    #navigation{
        grid-template-columns: repeat(5,auto);
    }
    #navigation li{
        display: block;  /*change state in small view*/
    }
    #navigation a {
        text-align: center;
    }
    #navigation li:first-child {
        /* display:none; */
    }
    #navigation a:hover, #navigation a.active:hover {
        color: white;
        background-color: black;
    }
    #navigation a.active{
        background-color: rgba(0,0,0,.55);
        color: white;
    }
    #navigation.responsive li{
        display: block;
    }
    #header-content {
        list-style: none;
        display: flex;
        padding: 0;
        grid-template-columns: repeat(2,auto);
        background-color: lightcoral;
        /* text-align: center; */
    }
    header img{
        width: 100%;
        height:auto;
    }
    
    header h1{
        font-size: 35px;
        margin: 25px 0 5px 0;
        justify-items: center;
    }
    header p{
        font-size: 20px;
        margin: 5px 0;
        font-style: italic;
    }
    .ham{
        display: none;
    }
    main{
        margin: block;
        max-width: 100%;
        margin: auto auto;
        background-color: white;
        /* text-align: center; */
        align-content: center;
        align-self: stretch;
        padding: 0 155px 0 155px;
    }
    img{
        max-width: 100%;
        height: auto;
    }
    #image-lined{
        display: inline;
        column-gap: 10px;
    }
    #lis1, #lis2, #lis3{
        display: none;
        column-gap: 20px;
    }
    #paragraph{
        display: flex;
    }
    #paragraph img{
        float: inline-end;
    }
    footer{
        display: grid;
        list-style: none;
        /* display: flex; */
        padding: 0;
        grid-template-columns: repeat(2,auto);
        /* margin: auto auto; */
        background-color: lightcoral;
        text-align: center;
    }
    footer p{
        justify-items: center;
        background-color:seashell ;
        grid-column: 3;
        grid-row: 2;
    }
    #contact{
        display:block;
    }
    #social-media,#location-icon{
        display: block;
    }
}