#delta-logo{
    grid-column-start: 1;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header p{
    grid-column-start: 3;
}
body {
    background-color: gainsboro;
    margin: 0 auto;
    width: 375px;
    border:solid 1px black;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Noto Sans JP', sans-serif;
}
