body {
    background-color: white;
}

nav{
    margin: 0 auto;
    max-width: 360px;
    background-color: #12aaeb;
}

#navigation {
    list-style: none;
    padding: 0;
    grid-template-columns: auto;
    display: grid;
}
/* turn on the first li */
#navigation li:first-child {
    display: block;
}
/* ignore all other li */
#navigation li{
    display: none;
}
#navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
#navigation a:hover, #navigation a.active:hover {
    color: white;
    background-color: black;
}
#navigation a.active{
    background-color: rgba(0,0,0,.55);
    color: white;

}
#navigation.responsive li{
    display: block;
}