body {
  margin: 0;
  padding: 0;
  font-family: lato;
  box-sizing: border-box;
  height: 100vh;
  display: grid;
  place-items: center;
}

table {
  width: 600px;
  box-shadow: 10px 15px 17px #628ca6;
}

table,
td,
th {
  padding: 20px;
  border: 1px solid lightgray;
  border-collapse: collapse;
  text-align: center;
  cursor: pointer;
  font-family: serif, 'noto sans JP';
}
td {
  font-size: 28px;
  font: optional;
}

th {
  background-color: #628ca6;
  color: white;
  font-size: 28px;
}
#table-header th{
    background-color: #7fb9c2;
    color: black;
    font-size: 35px;
}

#table-footer th{
    background-color: #7fb9c2;
    color: black;
    font-size: 19px;
}


tr:nth-child(odd) {
  background-color: #e7f0ed;
}

td:nth-child(odd):hover {
  background-color: #628ca6;
  color: white;
  transform: scale(1.0);
}

tr:nth-child(even) {
  background-color: #e7ffed;
}

td:nth-child(even):hover {
  background-color: #628ca6;
  color: white;
  transform: scale(1.0);
}
#italics{
    font-style: italic;
}